body { 
	background-color: rgb(240, 240, 240); 
	font-size: 18px; 
	font-family: Arial; 
}
div#container {
	background-color: rgb(255, 255, 255);
	overflow: auto;
	text-align: center;
	padding: 20px;
	margin: 20px;
}

form { 
	background-color: white; 
	border: 1px solid rgb(64, 64, 64); 
	margin: auto;
	width: 600px;
	padding: 20px;
	overflow: auto;
}
label { 
	clear: both; 
	display: block; 
	width: 180px; 
	float: left;
	margin: 10px 0 10px 0;
}
input[type="text"], input[type="password"], select { 
	width: 400px; 
	float: left; 
	font-size: 18px;
	margin: 10px 0 10px 0;
}
div.submit, div#messaggio, div#content {
	clear: both;
	padding: 10px;
	text-align: center;
}
table { margin: auto; }

table tr td { 
	width: 200px; 
	padding: 5px; 
	border: 1px solid rgb(64, 64, 64);
	text-align: left;
}
table tr td:first-child { width: 50px; text-align: center; }
table thead tr td { background-color: rgb(212, 212, 212); text-align: center; }